.dashboard {
  height: 100%;
  position: relative;
  background-position: 5px 230px;
  background-repeat: no-repeat repeat;
  overflow: hidden;
}

.wrapper-5px {
  padding: 5px 5px 0 5px;
}

.lcars-top {
  width: 100%;
  height: 200px;
  background-color: #262626;
  background-image: url(../../images/lcars-top.svg);
  background-position: 5px 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 5px;
  left: 0;
}

.lcars-top .extender-x-1 {
  width: 100%;
  height: 9px;
  background-color: #ff9900;
  position: absolute;
  top: 191px;
  left: 1034px;
}

.lcars-top .extender-x-2 {
  width: 100%;
  height: 16px;
  background-color: #cc99cc;
  position: absolute;
  top: 205px;
  left: 1034px;
}

.button-holder {
  position: absolute;
  bottom: 15px;
  right: 0;
  margin-left: 150px;
}

.lcars-button {
  width: 200px;
  height: 40px;
  float: right;
  margin: 5px;
  padding-top: 5px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.7em;
  cursor: pointer;
}

.lcars-button:hover {
  color: #fff;
}

.lcars-button.button-1 {
  background-color: #cc99cc;
}

.lcars-button.button-2 {
  background-color: #ff9900;
}

.lcars-button.button-3 {
  background-color: #ffcc99;
}

.lcars-down {
  height: 100%;
  background-color: #262626;
  background-image: url(../../images/lcars-down.svg);
  background-repeat: no-repeat;
  background-position: 5px 210px;
}

.lcars-down .extender-y {
  width: 128px;
  height: 100%;
  background-color: #ff9900;
  position: absolute;
  top: 680px;
  left: 5px;
}

.galaxy {
  height: 100%;
  padding: 0 0 0 138px;
  overflow: hidden;
}

.galaxy-map {
  height: 100%;
  background-image: url(../../images/galaxy.svg);
  margin: 250px 20px 0 20px;
  position: relative;
}

.galaxy-map img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.grid {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.grid .element {
  float: left;
}

.grid .element.grid-x {
  width: 100%;
  height: 20%;
  background-image: url(../../images/grid-x.svg);
  background-repeat: repeat-x;
}

.grid .element.grid-x:first-child {
  background: none;
}

.grid .element.grid-y {
  width: 20%;
  height: 100%;
  background-image: url(../../images/grid-y.svg);
  background-repeat: repeat-y;
}

.grid .element.grid-y:first-child {
  background: none;
}